body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    line-height: 1.3;
    width: 100%;
    text-align: center;
    color: rgb(138, 210, 215);
    background-color: rgb(0, 72, 144);
}
h1 {
    margin-bottom: 0;
}