.my-button {
    padding: 40px 62px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    color: rgb(138, 210, 215);
    border: 2px solid transparent;
    cursor: pointer;
}
#clock-display {
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(138, 210, 215);
    border-radius: 100px;
    font-size: 8rem;
    font-weight: bold;
    font-family: DS-Digital;
    padding: 20px 40px;
    display: inline-block;
    margin: 10px auto 30px auto;
}